<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--可用于静态文件过滤-->
    <!--<mvc:default-servlet-handler/>-->

    <!--不过滤静态文件-->
    <mvc:resources mapping="/js/**" location="js/"/>
    <mvc:resources mapping="/css/**" location="css/"/>
    <mvc:resources mapping="/images/**" location="images/"/>


    <mvc:annotation-driven conversion-service="conversionService" validator="validator"></mvc:annotation-driven>
    <!--批量配置Handler,指定扫描的包全称  -->
    <context:component-scan base-package="com.etc.controller"/>

    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/user/**"/>-->
            <!--<mvc:exclude-mapping path="/house/display"/>-->
            <!--<mvc:exclude-mapping path="/house/getImage"/>-->
            <!--<mvc:exclude-mapping path="/house/detail/**"/>-->
            <!--<mvc:exclude-mapping path="/js/**"/>-->
            <!--<mvc:exclude-mapping path="/css/**"/>-->
            <!--<mvc:exclude-mapping path="/images/**"/>-->
            <!--<bean id="authorityInterceptor" class="com.etc.interceptor.AuthorityInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->


    <!--<mvc:interceptors>-->
    <!--&lt;!&ndash;配置国际化拦截器&ndash;&gt;-->
    <!--<mvc:interceptor>-->
    <!--<mvc:mapping path="/**"/>-->
    <!--<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">-->
    <!--<property name="paramName" value="language"/>-->
    <!--</bean>-->
    <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->


    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <!--<property name="validationMessageSource" ref="messageSource"/>-->
    </bean>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <!--此处配置的是自定义的转换器（字符串日期转换）-->
                <bean class="com.etc.util.DateConverter"/>
            </list>
        </property>
    </bean>

    <!-- 配置视图解析器
    进行jsp解析，默认使用jstl标签，classpath下得有jstl的包-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="4096"/>
    </bean>

    <!--i18n国际化-->
    <!--国际化解析器  根据session进行国际化，即根据用户设置session的变量进行读取，所以它是可变的-->
    <!--<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">-->
    <!--<property name="defaultLocale" value="zh_CN"/>-->
    <!--</bean>-->
    <!--国际化文件加载 ReloadavleResourceBundleMessageSource：可以把文件放置在任何地方，并且在不重启系统的前提下也能重新加载资源文件，这样就可以在程序运行期修改并重新加载资源文件-->
    <!--<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">-->
    <!--<property name="defaultEncoding" value="UTF-8"/>-->
    <!--<property name="basename" value="message"/>-->
    <!--<property name="useCodeAsDefaultMessage" value="true"/>-->
    <!--</bean>-->

</beans>